body {
    background: url("image/greenbackground.jpg");
    font-family: Verdana;
    font-size: 14px;
}
#header h1 {
    color: darkcyan;
}
#header p {
    font-style: italic;

}
#header p:first-letter {
    font-size: 40px;

}
#header p b {
    color: maroon;
}
h2 {
    color: darkcyan;
}

a{
    text-decoration: none;
}

li .detail {
    display: none;
    background: #ddd;
    width: 50%;
    padding: 10px;
    margin: 5px 0;
}
li:hover {
    text-decoration:underline;
}
li:hover .detail {
    display: block;
    
}


